
  <%- include("./partials/header.ejs") %>
    <section class="login_form">
        <form action="">
            <h1>Login</h1>
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" id="" autofocus>
                <div class="err email"></div>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="">
           
                <div class="err password"></div>
            </div>
            <button class="post_btn" >Login</button>
        </form>
    <div class="with_social">Login with</div>
    <div class="facebook_btn">
        <a href="/auth/facebook">Facebook</a>
    </div>
    <div class="google_btn">
        <a href="/auth/google">Google</a>
    </div>
    <a href="/auth/create_account" class="create_link">Don't have an account?Create an account.</a>
</section>
<script>
    const form = document.querySelector('form')
    const emailError = document.querySelector('.err.email')
    const passwordError = document.querySelector('.err.password')

    form.addEventListener('submit', async e => {
        e.preventDefault()
        emailError.textContent = ''
        passwordError.textContent = ''
        const email = form.email.value
        const password = form.password.value
        try {
            const res = await fetch ('/auth/login', {
            method: 'POST',
            body: JSON.stringify({email,password}),
            headers:{'Content-Type': 'application/json'}
        })
        const data = await res.json()
            if(data.errors) {
                emailError.textContent = data.errors.email
                passwordError.textContent = data.errors.password
            }
            if(data.user) {
                location.assign('/')
            }
        }
        catch(err) {
            console.log(err)
        }

    })
</script>

</body>
</html>